@media (min-width: 1120px) {
.app {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 1900px;
    background-color: #eaeaea;
}
.sections {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    
}
.logo-section{
    align-self: center;
}
nav{
    display: flex;
    justify-content: space-around;
    width: 1120px;
    height: 123px;
    background-color: #f8f8f8;
    box-shadow: 0px 0px 13px 0px rgba(11,12,12,0.15);
}
.logo-nav{
    align-self: center;
}
.menu-categories{
    align-self: center;
    display: flex;
    justify-content: space-between;
    font-family: 'Josefin Sans';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #000000;
    text-transform: uppercase;
}
.search-block{
    display: flex;
    justify-content: space-around;
    align-self: center;
    width: 162px;
    height: 28px;
    border: 1px solid #c2c2c2;
}
.search-img{
    align-self: center;
}
.search-text{
    align-self: center;
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #000000;
    text-transform: uppercase;
}
.recommended-recipe-img-mobile{
    display: none;
}
.recommended-recipe {
    width: 1120px;
    height: 438px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    background-image: url(../img/rectangle_1_4673.png);
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
}
.img-lemon-on-recommended-recipe {
    width: 252px;
    height: 105px;
    padding: 50px 0px 0px 90px;
}
h2 {
    font-family: 'Playfair Display';
    font-size: 32px;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: 0.075em;
    color: #055555;
}
h3 {
    font-family: 'Playfair Display';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #921026;
    padding-left: 90px;
}
.recommended-recipe-text{
    padding-left: 90px;
}
.dots{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}
.dot{
    width: 8px;
    height: 8px;
    background-image: url(../img/ellipse_2_copy_4684.png);
    background-color: #dddddd;
    margin-right: 7px;
}
.current-dot {
    width: 8px;
    height: 8px;
    background-image: url(../img/ellipse_2_copy_2_4685.png);
    background-color: #ffffff;
    margin-right: 7px;
}
button{
    width: 105px;
    height: 28px;
    border: 1px solid #c2c2c2;
    background-color: #ffffff;
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #000000;
}
.button-get-recipe {
    background-color: #f8f8f8;
    margin-top: 20px;
}
.recommended-recipe-text {
    font-family: 'Josefin Sans';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #000000;
}

.other-offers {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width: 1120px;
    height: 373px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
}
.offers-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.card-text{
    font-family: 'Josefin Sans';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #000000;
}
.activities {
    display: flex;
    flex-flow: row, nowrap;
    justify-content: flex-start;
}
.time {
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
}
.counter-values{
    font-family: 'Open Sans';
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #555555;
}
.cake-recipe {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    width: 1120px;
    height: 438px;
    background-color: #ffffff;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    background-image: url(../img/rectangle_1_copy_4727.png);
    background-size: cover;
    background-attachment: local;
    background-repeat: no-repeat;
}
.barrier {
    padding-left: 560px;
}
.scroller {
  height: 320px;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  scroll-snap-type: x mandatory;
  
}
.recipe-text {
    width: 50%;
}
.complexity-info{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}
.clock-2{
    align-self: center;
}
.time-complexity-info {
    display: flex;
    align-self: baseline;
}
.time-info{
    align-self: flex-end;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
}
.cols{
    display: flex;
    align-self: flex-end;
}
.col-1{
    align-self: baseline;
    width: 5px;
    height: 11px;
    margin-left: 10px;
    background-color: #555555;
}
.col-2{
    align-self: baseline;
    width: 5px;
    height: 15px;
    margin-left: 2px;
    background-color: #555555;
}
.col-3{
    align-self: baseline;
    width: 5px;
    height: 19px;
    margin-left: 2px;
    background-color: #555555;
}
.col-4{
    align-self: baseline;
    width: 5px;
    margin-left: 2px;
    height: 24px;
    border: 0.3px solid #555555;
}
.easy{
    margin-left: 10px;
    align-self: flex-end;
    font-family: 'Josefin Sans';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #555555;
}
.main-recipe-text{
    padding-right: 20px;
}
}
@media (max-width: 1119px) {
    .app{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .sections{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    .logo-section{
        display: none;
    }
    .menu-categories{
        display: none;
    }
    .recommended-recipe{
        display: none;
    }
    .recommended-recipe-section{
        width: 100%;
        height: 300px;
        background-image: url(../img/rectangle_1_copy_3_5867.png);
        background-size: 100%;
        background-size: cover;
        background-color: #ffffff;
        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    }
    .other-offers {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        width: 100%;
        background-color: #ffffff;
        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    }
    .offers-cards{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }
    .cake-recipe {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        background-color: #ffffff;
        box-shadow: 0px 0px 13px 0px rgba(0,0,0,0.15);
    }
}